ul {
    list-style: none;
    margin: 0;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: auto;
    li{
        margin: .5%;
        position: relative;
        border-radius: 5px;
        padding: 15px 15px 5px 15px;
        background-color: rgb(218, 255, 221);
        height: auto;
        width: 24%;
    }
}